language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
# command to install dependencies
install:
  - "pip install --upgrade pip"
  - "pip --version"
  - "pip install .[testing]"
  - "pip install pytest-cov coveralls"
# command to run tests
script: python setup.py test --addopts "-vrs --cov remarker"
after_success: coveralls
